body {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #f2eae2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-box {
  width: 600px;
  height: 450px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  /* border: solid black; */
}

.photo {
  width: 300px;
  height: 450px;
  border-radius: 10px 0 0 10px;
  /* border: solid black; */
}

.photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

.text-box {
  width: 236px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 30px;
}

.price-box {
  width: 236px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 5px;
  color: #6c7289;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  font-style: bold;
  line-height: 32px;
  color: #1c232b;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 500;
  font-style: medium;
  line-height: 23px;
  color: #6c7289;
  margin: 0;
  letter-spacing: 1px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  font-style: bold;
  line-height: 32px;
  color: #3d8168;
}

h4 {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  text-decoration: line-through;
  color: #6c7289;
}

button {
  width: 236px;
  height: 48px;
  background-color: #3d8168;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button:hover {
  background-color: #2980b9;
}

@media (max-width: 650px) {
  .product-box {
    width: 340px;
    height: 610px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: solid black; */
  }

  .photo {
    width: 340px;
    height: 240px;
    border-radius: 10px 10px 0px 10px;
    /* border: solid black; */
  }

  .photo img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
  }

  .text-box {
    width: 340px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 25px;
  }
}
